@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: black;
    color: white;
  }
}

/* [title = mdImage] {
  height: 50vh;
  padding: 1rem;
  margin: auto;
} */